<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1 class="accroche"><%= @categorie.nom %></h1>
        </div>
        
        <div class="yui-gc">
            <div class="yui-u first">
                <p>
                    <%= format_text(@categorie.theme) %>
                </p>
            </div>
            <div class="yui-u">
                <h3 class="red">Les actions menées</h3>
                <% if !@categorie.actions.blank? %>
                <ul>
                     <% for action in @categorie.actions %>
                        <li>
                            <%= action.nom %>, le : <%= action.created_at.strftime("%d/%m/%Y") %><br/>
                            <%= truncate(action.description, :length => 80) %><br/> <%= link_to "Voir détails", action_path(action) %>
                        </li>
                      <% end %>
                </ul>
                <% else %>
                  <p>Pas encore d'actions enregistrées pour cette catégorie'</p>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/login" %>
</div>