                  <table>
                    <tr>
                        <td><%= f.label :titre, "Titre" %></td>
                        <td><%= f.text_field :titre %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :body, "Contenu" %></td>
                        <td><%= f.text_area :body %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :photo, "Photo" %></td>
                        <td><%= f.file_field :photo %></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><%= submit_tag "Enregistrer" %></td>
                    </tr>
                  </table>