<div id="yui-main">
    <div class="yui-b">
        
        <div class="yui-g">
            <h1 class="accroche">L'Actualité du Mois</h1>
        </div>
        
        <div class="yui-gc">
            <div class="yui-u first">
                <% if !@articles.blank? %>
                  <% for actu in @articles %>
                    <p>
                        <b><%= actu.titre %></b> - <pre>publié le : <%= I18n.l actu.created_at %> par <%= actu.author.login %></pre>
                    </p>
                    <p>
                        <%= truncate(actu.body, :length => 150) %><br/>
                        <pre><%= actu.comments.size %> commentaires</pre>
                        <%= link_to "Lire plus …", article_path(actu) %><br/><br/>                        
                    </p>
                  <% end %>
                <% else %>
                  <p>
                    Pas d'articles pour ce mois.
                  </p>
                <% end %>
            </div>
            
            <div class="yui-u">
                <h3 class="red">Archives</h3>
                <% @date = params[:day].to_date %>

                <%= calendar_for(@date.year, @date.month, :next_and_previous_month => [ "%b", lambda { |@date| articles_du_mois_path(@date) }], &articles_proc) %>
            </div>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/login" %>
    <%= render :partial => "shared/newsletter" %>
    
    <%= render :partial => 'admin' %>
    <%= render :partial => "shared/logos" %>
</div>