<div id="yui-main">
    <div class="yui-b">
        
        <div class="yui-g">
            <h1 class="accroche"><%= @article.titre %></h1>
        </div>
        
        <div class="yui-g">
            <p class="article_photo">
                <%= image_tag @article.photo.url(:thumb) unless @article.photo.url.empty? %>
            </p>        
            <p>
                <%= format_text(@article.body) %>
            </p>
            
            <p>
                <%= link_to "Retour", articles_path() %><br/>
                <%- if admin? -%>
                    <%= link_to "Modifier", edit_article_path(@article) %> |
                    <%= link_to "Supprimer", article_path(@article), :method => :delete,
                     :confirm => "En êtes vous sur ?" %>
                <%- end -%>
            </p>
        </div>
        
        <div class="yui-g">
            
            <h3 class="green">Vos commentaires</h3>
            <p>
                <%= link_to "(+) Ajouter un commentaire", new_article_comment_path(@article) , :class => "button_link" %> | <%= link_to "Tous les commentaires", article_comments_path(@article), :class => "button_link" %>
            </p>
            
            <% if !@article.comments.blank? %>
                <% for comment in @article.comments %>
                      <div class="comment">
                          <b>De : <%= comment.author.login %></b>
                          <%= format_text(comment.body) %>
                          <% if admin? %>
                              <%= link_to "(-) Supprimer", article_comment_path(@article, comment),
                               :method => :delete, :class => "button_link2" %>
                          <% end %>
                      </div>
                    <% end %>
            <% else %>
              <p>Pas de commentaires pour cet article.</p>
            <% end %>

            
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/login" %>
</div>