              <table>
                <tr>
                    <td><%= f.label :nom, "Nom" %></td>
                    <td><%= f.text_field :nom %></p>
                </tr>
                <tr>
                    <td><%= f.label :adresse, "Adresse" %></td>
                    <td><%= f.text_field :adresse %></td>
                </tr>
                <tr>
                    <td></td>
                    <td><%= submit_tag "Enregistrer" %></td>
                </tr>
              </table>