<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1>Modifier une Newsletter</h1>
        </div>
        
        <div class="yui-g">
            <div class="yui-u first">
                <% form_for(@newsletter) do |f| %>
                  <%= f.error_messages %>
                  <%= render :partial => 'form', :locals => { :f => f } %>
                <% end %>

                <%= link_to 'Voir', @newsletter %> |
                <%= link_to 'Retour', newsletters_path %>
            </div>
            
            <div class="yui-u">
                <%= render :partial => "shared/edition" %>
            </div>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/login" %>
</div>

