              <p>
                <%= f.label :nom_asso, "Nom Association" %><br />
                <%= f.text_field :nom_asso %>
              </p>
              <p>
                <%= f.label :adresse, "Adresse" %><br />
                <%= f.text_field :adresse %>
              </p>
              <p>
                <%= f.label :cp, "Code Postal" %><br />
                <%= f.text_field :cp %>
              </p>
              <p>
                <%= f.label :ville, "Ville" %><br />
                <%= f.text_field :ville %>
              </p>
              <p>
                <%= f.label :tel, "Telephone" %><br />
                <%= f.text_field :tel %>
              </p>
              <p>
                <%= f.label :fax, "Fax" %><br />
                <%= f.text_field :fax %>
              </p>
              <p>
                <%= f.label :email, "Email" %><br />
                <%= f.text_field :email %>
              </p>
              <p>
                <%= f.label :nom_contact, "Personne Contact" %><br />
                <%= f.text_field :nom_contact %>
              </p>
              <p>
                <%= f.label :tel_contact, "Tel Personne contact" %><br />
                <%= f.text_field :tel_contact %>
              </p>
              <p>
                <%= f.label :objet, "Objet Association" %><br />
                <%= f.text_area :objet %>
              </p>
              <p>
                <%= f.submit 'Enregistrer' %>
              </p>