<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1 class="accroche">Listing candidatures</h1>
        </div>
        
        <div class="yui-g">
            <table>
              <tr>
                <th>Nom Association</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>Tel</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Nom contact</th>
                <th>Tel contact</th>
                <th>Objet</th>
              </tr>

            <% @candidatures.each do |candidature| %>
              <tr>
                <td><%=h candidature.nom_asso %></td>
                <td><%=h candidature.adresse %></td>
                <td><%=h candidature.cp %></td>
                <td><%=h candidature.ville %></td>
                <td><%=h candidature.tel %></td>
                <td><%=h candidature.fax %></td>
                <td><%=h candidature.email %></td>
                <td><%=h candidature.nom_contact %></td>
                <td><%=h candidature.tel_contact %></td>
                <td><%=h candidature.objet %></td>
                <% if admin? %>
                <td><%= link_to 'Voir', candidature %></td>
                <td><%= link_to 'Modifier', edit_candidature_path(candidature) %></td>
                <td><%= link_to 'Supprimer', candidature, :confirm => 'Are you sure?', :method => :delete %></td>
                <% end %>
              </tr>
            <% end %>
            </table>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/login" %>
    <%= render :partial => "shared/newsletter" %>
</div>