<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1 class="accroche">Demande d'adhésion</h1>
            <p>
                Les informations fournies nous permettrons d'étudier votre candidature et d'entrer en contact avec vous. Merci.
            </p>
        </div>
        
        <div class="yui-g">
            <% form_for(@candidature) do |f| %>
              <%= f.error_messages %>

              <%= render :partial => 'form', :locals => {:f => f} %>

            <% end %>
            
            <% if admin? %>
                <%= link_to 'Retour', candidatures_path %>
            <% end %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/login" %>
    <%= render :partial => "shared/newsletter" %>
    <%= render :partial => "shared/logos" %>
</div>
