
              <table>
                <tr>
                  <td><%= f.label :categorie_action_id, "Categorie Action" %></td>
                  <td><%= f.collection_select :categorie_action_id, @categories, :id, 'nom' %></td>
                </tr>
                <tr>
                    <td><%= f.label :nom, "Nom" %></td>
                    <td><%= f.text_field :nom %></td>
                </tr>
                <tr>
                    <td><%= f.label :description, "Description" %> </td>
                    <td><%= f.text_area :description, :cols => 70, :rows => 20, :class => "mceEditor" %></td>   
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><%= submit_tag "Enregistrer" %></td>
                </tr>
              </table>
