<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1 class="accroche">Liste des Utilisateurs</h1>
        </div>
        
        <div class="yui-g">
            <table>
                <tr>
                    <th>Login</th><th>Email</th><th>Categorie</th><th>Etat</th>
                </tr>
                <% @users.each do |user| %>
                <tr>
                    <td><%= user.login %></td>
                    <td><%= user.email %></td>
                    <td><%= user.categorie_to_s %></td>
                    <td><%= user.state %></td>
                </tr>
                <% end %>
            </table>
            
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/login" %>
    <%= render :partial => "shared/newsletter" %>
    <%= render :partial => "shared/gestion_newsletter" %>
    <%= render :partial => "shared/logos" %>
</div>