<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>Newsletter N° <%= @newsletter.id %></title>
  <style type="text/css" media="screen">
    
    p.entete {
      text-align:center;
      font-size: 20px;
      padding-bottom: 10px;
      color: maroon;
    }
  
    h2.fiche_id {
      color: #f2f2f2;
      text-align: center;
      letter-spacing: 2px;
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 18px;
      background: url(http://www.guadeloupe-asso.fr/images/BckH2.gif) no-repeat center;
    }
    
    ul.sommaire-list {
      text-align: center;
    }
    
    ul.sommaire-list li {
      list-style-type: none;
    }
    
    p.titre {
      color: #0044c9;
      font-size: 16px;
    }
    p.article {
      color: gray;
    }
    #footer {
      position:static;
      text-align: center;
    }
  </style>
  
</head>

<body>
  <p class="entete">
    LETTRE D'INFORMATION DU CRAJEP971 N° <%= @newsletter.id %>
  </p>
  <div id="sommaire">
    <h2 class="fiche_id">Sommaire</h2>
    <ul class="sommaire-list">
      <% for nl_content in @newsletter.nl_contents %>
      <li><b><%= nl_content.titre %></b></li>
      <% end %>
    </ul>
  </div>

  <div id="contenu">
    <% for nl_content in @newsletter.nl_contents %>
      <p class="titre">
        <b><%= nl_content.titre %></b>
      </p>
      <p class="article">
        <%= format_text(nl_content.body) %><br/>
      </p>
    <% end %>
  </div>
  
  <div id="footer">
    <p>
      Vous avez reçu ce message, car vous êtes abonné à la lettre d'information du CRAJEP 971
    </p>
    
    <!-- TODO : modifier l'adresse url_for pour : url_for(:host => "guadeloupe-asso.fr", :controller => "newsletter", :action => "desabonnement") -->
    
    <p>
      Pour résilier votre abonnement à cette lettre d'information cliquez ici : <%= url_for(:host => "localhost:3000", :controller => "newsletters", :action => "unsubscribe") %>
    </p>
    <table border="0" cellspacing="2" cellpadding="2" align="center" width="100%">
      <tr>
          <td><img src="http://www.guadeloupe-asso.fr/images/Logo-DDJS.gif"></td>
		  <td><img src="http://www.guadeloupe-asso.fr/images/Logo-club1901.gif"></td>
		  <td><img src="http://www.guadeloupe-asso.fr/images/Logo-agouti.gif"></td>
      </tr>
    </table>
  </div>
  
</body>
</html>