			  <p>
			    <%= f.label :nom %><br />
			    <%= f.text_field :nom %>
			  </p>
			  <p>
			    <%= f.label :fonction %><br />
			    <%= f.text_field :fonction %>
			  </p>
			  <p>
			    <%= f.label :association %><br />
			    <%= f.text_field :association %>
			  </p>
			  <p>
			    <%= f.label :adresse %><br />
			    <%= f.text_field :adresse %>
			  </p>
			  <p>
			    <%= f.label :codepostal %><br />
			    <%= f.text_field :codepostal %>
			  </p>
			  <p>
			    <%= f.label :ville %><br />
			    <%= f.text_field :ville %>
			  </p>
			  <p>
			    <%= f.label :tel %><br />
			    <%= f.text_field :tel %>
			  </p>
			  <p>
			    <%= f.label :mob %><br />
			    <%= f.text_field :mob %>
			  </p>
			  <p>
			    <%= f.label :email %><br />
			    <%= f.text_field :email %>
			  </p>
			  <p>
			    <%= f.label :contact %><br />
			    <%= f.check_box :contact %>
			  </p>