<p>
  <b>Nom:</b>
  <%=h @boardmember.nom %>
</p>

<p>
  <b>Fonction:</b>
  <%=h @boardmember.fonction %>
</p>

<p>
  <b>Association:</b>
  <%=h @boardmember.association %>
</p>

<p>
  <b>Adresse:</b>
  <%=h @boardmember.adresse %>
</p>

<p>
  <b>Codepostal:</b>
  <%=h @boardmember.codepostal %>
</p>

<p>
  <b>Ville:</b>
  <%=h @boardmember.ville %>
</p>

<p>
  <b>Tel:</b>
  <%=h @boardmember.tel %>
</p>

<p>
  <b>Mob:</b>
  <%=h @boardmember.mob %>
</p>

<p>
  <b>Email:</b>
  <%=h @boardmember.email %>
</p>

<p>
  <b>Contact:</b>
  <%=h @boardmember.contact %>
</p>


<%= link_to 'Edit', edit_boardmember_path(@boardmember) %> |
<%= link_to 'Back', boardmembers_path %>