                    <tr>
                        <td><%= f.label :date, "Date" %></td>
                        <td><%= f.date_select :date %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :lieu, "Lieu" %></td>
                        <td><%= f.text_field :lieu %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :hdebut, "De :" %></td>
                        <td><%= f.time_select :hdebut, {:minute_step => 15} %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :hfin, "A :" %> </td>
                        <td><%= f.time_select :hfin, {:minute_step => 15} %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :titre, "Titre" %></td>
                        <td><%= f.text_field :titre %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :description, "Description" %></td>
                        <td><%= f.text_area :description, :class => "mceEditor" %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :photo, "Image" %></td>
                        <td><%= f.file_field :photo %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= submit_tag "Enregistrer" %></td>
                    </tr>