<div id="yui-main">
    <div class="yui-b">
        
        <div class="yui-g">
            <h1 class="accroche">Evenement du Mois</h1>
        </div>
                
        <div class="yui-gc">
            <div class="yui-u first">
                 <% if !@evenements.blank? %>
                      <% for event in @evenements %>
                        <p>
                            <b><%= event.titre %></b> - <pre>publié le : <%= I18n.l event.created_at %></pre>
                        </p>
                        <p>
                            <%= truncate(event.description, :length => 80) %><br/>
                            <%= link_to "voir plus …", evenement_path(event) %>
                        </p>
                      <% end %>
                 <% else %>
                     <p>Pas d'évènements programmés pour ce mois</p>
                 <% end %>
            </div>

            <div class="yui-u">
                <h3 class="green">Calendrier</h3>
                <% @date = params[:day].to_date %>
                <%= calendar_for(@date.year, @date.month, :next_and_previous_month => [ "%b", lambda { |@date| evenements_du_mois_path(@date) }], &calendar_events_proc) %>
            </div>
        </div>       
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/login" %>
</div>