<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1 class="accroche"><%= @evenement.titre %></h1>
            <p>
                <b>Date :</b><%= I18n.l @evenement.date %> | <b>Lieu :</b><%= @evenement.lieu %><br/>
                <b>De :</b> <%= @evenement.hdebut.strftime("%H:%M") if @evenement.hdebut %> <b>À :</b> <%= @evenement.hfin.strftime("%H:%M") if @evenement.hfin %>
            </p>
        </div>
        
        <div class="yui-g">
            <p class="article_photo">
                <%= image_tag(@evenement.photo.url) if has_photo?(@evenement) %>
            </p>
            <%= format_text(@evenement.description) %>
            <p>
                <%= link_to "Retour", evenements_path() %>
            </p>
        </div>
        
        <div class="yui-g">
            <% if admin? %>
                <p>
                    <%= link_to "Modifier", edit_evenement_path(@evenement), :class => "button_link2" %> | <%= link_to "Supprimer", evenement_path(@evenement), :method => :delete, :class => "button_link2" %>
                </p>
             <% end %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/login" %>
    <%= render :partial => 'admin' %>
    <%= render :partial => "shared/logos" %>
</div>
