<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title></title>
	<%= stylesheet_link_tag 'reset-fonts-grids', 'base', :cache => true %>
	<%= javascript_include_tag :all, :cache => true %>
	<%= include_tiny_mce_if_needed %>
</head>

<body>
    
    <div id="doc4" class="yui-t1">
        
        <div id="hd">
            <div id="hd-img">
                <div id="logo">
                  <%= image_tag("logo.png") %>
                </div>
                <div id="titre">
                  <%= image_tag("titre.png") %>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><%= link_to "ACCUEIL", "/" %> </li>
                    <li><%= link_to "ACTUALITES", articles_path %></li>
                    <li><%= link_to "ACTIONS", categorie_actions_path %></li>
                    <li><%= link_to "AGENDA", evenements_path %></li>
                    <li><%= link_to "RESEAU", reseaux_index_path %></li>
                    <li><%= link_to "CONTACTS", "" %></li>
                    <li><%= link_to "LIENS", liens_path %></li>
                    <li><%= link_to "ASSOGUADELOUPE", "http://www.asso-guadeloupe.fr" %></li>
                </ul>
            </div>
        </div>
        
        <div id="bd">
            <%= yield %>
        </div>
        
        <div id="ft">
          CRAJEP-971 Copyright © 2009 - Tous droits réservés - Conception : Gilles MATHURIN
        </div>
    </div>
  
</body>
</html>
